# Variables
set bell-style none
set colored-stats on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set completion-ignore-case on

# Custom key-bindings
"\C-f": shell-forward-word
"\C-b": shell-backward-word

# Move to the beginning of next word and delete the previous word
"\C-d": "\C-f\C-w"

"\C-t": forward-search-history
